*{box-sizing: border-box;}
body {font: 100%/147% 'Roboto',Helvetica,Times,sans-serif;margin:0;color:#333;}


/*header::before {content: "HEADER";}
nav::before {content: "NAV";}
section::before {content: "SECTION";}
aside::before {content: "ASIDE";}
footer::before {content: "FOOTER";}
header::before, nav::before, section::before, aside::before, footer::before
{display: table;padding:2px 4px;background-color: orange;color:#333;opacity: 0.3;position: absolute;top:0;left:0;font-size: 0.8em;} 
*/
section,aside{float:left;}
nav ul {list-style-type: none;}
nav ul li{float: left;}
main {margin:20px;}
main::after, ul::after{
    content: "";
    display: table;
    clear:both;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

img {width: 100%;}
@media only screen and (min-width: 600px) {
    /* For desktop: */
    /*.container{width: 1200px;margin:0 auto;}*/
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}